extends layout 

block content 
    h1=title 

    p #[strong Author:]
        a(href=book.author.url)  !{book.author.name}
    p #[strong Description:] !{book.summary}
    p #[strong ISBN:] !{book.isbn}
    p #[strong Subject:] 
        each val, index in book.subject 
            a(href=val.url) !{val.name}
            if index<book.subject.length-1
                | ,
    div 
        h4 Copies in Storage 
        if book_instances!=null
            each val in book_instances 
                hr
                if val.status=='Available'
                    p.text-success !{val.status}
                else if val.status=='Maintenance'
                    p.text-danger !{val.status}
                else 
                    p.text-warning !{val.status}
                p #[strong Imprint:] !{val.imprint}
                if val.status!='Available'
                    p #[strong Due Back:] !{val.due_back_formatted}
                p #[strong Unique Id:] 
                    a(href=val.url) !{val._id}
        else 
            p There are no copies of this book in our storage.
